<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body id="access-background">
    <div>
        @RenderBody()
    </div>
</body>
</html>
