@model WebDoAn__Demo1_.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>ShowToCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">Chưa có sản phẩm nào</td>
        </tr>

    </tbody>
</table>
